.error 
{
    border: 1px solid #ff0000;
}

  
input 
{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}
 
 
input:focus 
{
    border: 1px solid #003145;
}    
   

h1
{
    text-align: center;
    color: #003145;
    font-size: 34px;
    font-family: myFirstFont;
} 
h3
{
    color: #003145;
    font-family: myFirstFont;
}


.container
{
    padding: 10px;
    width: 80%;
    
    margin-left: auto;
    margin-right: auto
}


.buttonenable
{
   background-color:  #d40504;
   border: none;
   color: white;
   padding: 12px 20px;
   margin: 8px 8px 8px 0px;
   text-align: center;
   cursor: pointer;
   font-size: 16px;
   width: 50%;
}

.buttondisable
{
    background-color:  #d40504;
    border: none;
    color: white;
    padding: 12px 20px;
    margin: 8px 8px 8px 0px;
    text-align: center;
    font-size: 16px;
    width: 50%;
    opacity: .3;
}
  

.alert
{
    color:  #d40504;
    margin-top: 2px;
    font-size: .9em;
    width: 100%;
    margin-bottom: 20px;
    display: inline-block;
}


.parastyle
{
    font-size: 25px; 
    text-align: center; 
    color: #003145; 
    font-weight: bold; 
}   

.lblstyle
{
    color: #003145; 
    font-weight: bold;
}