<!--The content below is only a placeholder and can be replaced.-->
<div class="title bg">
  <div class="bgimg">
    <div class="welcomeTxt">Welcome to {{ title }}! </div>
    <Button id="loginBtn" class="regBtn" (click)="showLogin();">REGISTER/LOG IN</Button>
</div>
  <router-outlet></router-outlet>

  <div class="footer"><ul class="list-social">
      <li>
          <div class="tooltip">
              <div class="popup">
                  <span class="glyphicon glyphicon-star-empty"></span>
              </div>
              <div class="box-tooltip">
                  <div class="tooltip-text">Share it!</div>
              </div>
          </div>
      </li>
      <li>
          <div class="tooltip">
              <div class="popup" >
                  <span class="glyphicon glyphicon-film"></span>
              </div>
              <div class="box-tooltip">
                  <div class="tooltip-text">Share it!</div>
              </div>
          </div>
      </li>
      <li>
          <div class="tooltip">
              <div class="popup" >
                  <span class="glyphicon glyphicon-road"></span>
              </div>
              <div class="box-tooltip">
                  <div class="tooltip-text">Share it!</div>
              </div>
          </div>
      </li>
      <li>
          <div class="tooltip">
              <div class="popup" >
                  <span class="glyphicon glyphicon-cog"></span>
                  <div class="box-tooltip">
                  <div class="tooltip-text">Share it!</div>
              </div>
          </div>
          </div>
      </li>
      <li>
          <div class="tooltip">
              <div class="popup">
                  <span class="glyphicon glyphicon-headphones"></span>
                  <div class="box-tooltip">
                  <div class="tooltip-text">Share it!</div>
              </div>
          </div>
          </div>
      </li>
  </ul></div>
</div>



