/* You can add global styles to this file, and also import other style files */
@font-face 
{
    font-family: myFirstFont;
    src: url(assets/Sansation_Light.ttf);
}

body, html
{
    font-family: myFirstFont;
    height: 100%;
}


